<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Task</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h1>Create new Task</h1>
    <div class="box" style="height: 540px;">
    <form method="post" action="/Tasks">
        <h2 class="margin">Task: </h2>
        <textarea class="margin" placeholder="Enter Task" name="Task" rows="3" cols="30"></textarea>
        <h2 class="margin">Task-Period: </h2>
        <textarea class="margin" placeholder="Enter Time-Period" name="Period" rows="3" cols="30"></textarea>
        <h2 class="margin">Task-Description: </h2>
        <textarea class="margin" placeholder="Enter Your Task's Description" name="Description" rows="5" cols="60"></textarea><br>
        <button class="margin" style="height: 30px; width: 100px;">Submit</button>
    </form>
</div>
</body>
</html>