<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task In Detail</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h1>Here is Your Task in Detail</h1>
    <p class="id"><b> Task id: </b> <%= Task.id %></p>
    <div class="box">
        <p class="margin"><b>Task: </b><%= Task.Task %></p>
        <p class="margin"><b>Time-Period: </b><%= Task.Period %></p>
        <p class="margin"><b>Description: </b><%=Task.Description%></p>
    </div>
</body>
</html>