*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    height: 50px;
    background-color: #e8ede9;
    color: black;
    
}
.id{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.box{
    height: 300px;
    width: 800px;
    border: 1px solid black;
    background-color: #e8ede9;
    margin:80px 0 0 370px;
    font-size: 20px ;
    
}

.margin{
    margin: 30px 0 0 30px;
}